$lt-gray: #ddd;
$background-dark: #161883;
$background-light: #9575CD;
$background-pale: #B3B3BB;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}

.row-header {
    @include zero-margin(0px,0px);
}

.row-content {
    @include zero-margin(50px,0px);
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background-image: url(img/galaxy-wallpaper-11.jpg);
}

.navbar-dark {
    background-color: $background-dark;
	font-family: 'Comic Sans MS';
	
}

.modal-header {
    background: $background-dark;
    color: floralwhite;

    .close {
        color: $background-pale;
    }

    font-family: 'Comic Sans MS';
}

.modal-body {
    background: $background-pale;
    font-family: 'Comic Sans MS';

}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

.space {
    margin: 0;
    padding: 0;
    height: 50px;
}

.submit {
    background-color: #00BFFF;
    border: none;
    color: white;
    padding: 20px 44px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Comic Sans MS';
}
